#in{
    width: 70%;
    /* padding: .6rem 1rem; */
    /* margin-bottom: 2rem;
    border-radius: 5px; */
    border: 1px solid #687a59;
    /* border-bottom: 1px solid #687a59; */
    /* box-sizing: border-box; */
    /* background-color: transparent; */
}